*,*::after,*::before{
  font-size: large;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --primary-color:black;
  --text-color:white;
  --gray-100:rgb(202, 202, 202);
  --gray-200:rgb(160, 160, 160);
  --gray-300:rgb(132, 132, 132);
  --gray-400:rgb(85, 85, 85);
  --error:red;
  --error-light:rgb(231, 75, 75);
}
